.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #09d3ac;
}

.paper {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;  
  padding: 50px;
}
.pic {
  width: 350px;
  height: 500px;
}
.formControl {
  width: 5%;      
  margin-top: 150px;
}
.layout {
  margin-top: 150px;
}
.btn {
  float: right;
}

h2 {
  text-decoration: underline;
  margin: 0;
  float: left;
  font-family:"Times New Roman";
  font-size: 30px;
}

.tool {
  float: right;
}

.paper {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;  
  padding: 50px;
}
.pic {
  width: 350px;
  height: 500px;
}
.formControl {
  width: 5%;      
  margin-top: 150px;
}
.layout {
  margin-top: 150px;
}
.btn {
  float: right;
}
.addIcon {
  width: 60;
  height: 60;
}

.center {
  display: flex; 
  justify-content: center;
}

.paper2 {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 600px;
  margin-left: 600px;  
  padding: 50px;
}

.avatar {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: b; 
}

